node_modules
.env
.env.*
.env.prod
dist
.vercel
firecheck.db
server/node_modules
.DS_Store
api/serviceAccount.json
*.log
.env*

# iOS Certificates (NUNCA commitar!)
ios-certificates/
*.p12
*.mobileprovision
*.certSigningRequest
*.key
